*.el~
loaddefs.el*
backups/*
auto-save-list
auto-save-files
custom.el
*elc
places
url/cookies
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
thumbs/*
oddmuse/*
.newsrc-dribble
.nnmail-cache
.svn
.DS_Store
image-dired/
elim/
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
session*
tramp
.emacs.desktop
abbrev_defs
ido.last
smex-items
server/
\#*
## exported files
*.el
!init.el
starter-kit*html
doc
eshell/lastdir
eshell/history
eshell/lastdir
src/auctex
src/share
src/var
src/auctex-src/*elc
## org stuff
.org-id-locations
/src/pandoc/.manual.text.default.pandoc
/src/pandoc/.manual.text.html.pandoc
/src/pandoc/.manual.text.latex.pandoc
/src/pandoc/.manual.text.texinfo.pandoc
/ac-comphist.dat
/index.org
/vc-git.awk
